
@media (max-width: 375px) {
    .ps-block--categories-grid .ps-block--category-2 {
        max-width: 100%;
    }
    .ps-product--detail .ps-product__shopping .ps-form--number {
        max-width: 100%;
        width: 100%;
        margin-bottom: 1rem;
    }

    .ps-product--detail .ps-product__shopping .ps-btn {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ps-product--detail .ps-product__shopping button {
        width: 100%;
    }
}



@media (max-width: 420px) {
    .ps-block--site-features .ps-block__item {
        max-width: 100%;
        flex-flow: row nowrap;
    }

    .ps-block--site-features .ps-block__item .ps-block__right {
        padding-left: 20px;
    }

    .ps-block--site-features.ps-block--site-features-2 .ps-block__item {
        max-width: 100%;
    }
}





@media (max-width: 479px){
    #shop-categories .ps-more-categories .ps-section__content .ps-block--category-vertical {
        max-width: 100%;
    }
    #homepage-1 .ps-product-list {
        padding-bottom: 0px;
    }
    #homepage-1 .ps-top-categories {
        padding: 35px 0;
    }
    #homepage-1 .ps-home-banner .ps-collection {
        padding: 0 5px;
        margin-bottom: 0;
    }

    #homepage-1 .ps-home-banner .ps-section__right {
        margin: 0 -5px;
        display: none;
    }
    .ps-vendor-dashboard .ps-section__header {
        padding: 50px 0;
    }

    .ps-vendor-dashboard .ps-section__header h3 {
        margin-bottom: 20px;
        font-size: 28px;
    }
    .ps-shopping-cart .ps-section__cart-actions {
        flex-flow: row wrap;
    }

    .ps-shopping-cart .ps-section__cart-actions .ps-btn {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    .ps-order-tracking {
        padding: 50px 0;
    }

    .ps-order-tracking .ps-section__header {
        padding-bottom: 40px;
    }
    .ps-vendor-faqs .ps-section__footer {
        padding-top: 50px;
    }

    .ps-vendor-faqs .ps-section__footer p {
        font-size: 18px;
    }
    .ps-vendor-best-fees .ps-section__numbers figure {
        width: 100px;
        height: 100px;
        margin: 0 10px;
    }

    .ps-vendor-best-fees .ps-section__numbers figure h3 {
        font-size: 30px;
    }

    .ps-vendor-best-fees .ps-section__highlight {
        flex-direction: column;
        text-align: right;
        align-items: flex-start;
    }

    .ps-vendor-best-fees .ps-section__highlight img {
        margin-bottom: 30px;
        max-height: 100px;
    }
    .ps-vendor-banner {
        padding: 60px 0;
    }

    .ps-vendor-banner h2 {
        font-size: 24px;
    }
    .ps-call-to-action {
        padding: 65px 0;
    }
    .ps-contact-form h3 {
        font-size: 20px;
    }
    .ps-contact-info {
        padding: 45px 0;
    }

    .ps-contact-info h3 {
        font-size: 20px;
    }
    .ps-about-awards {
        padding: 50px 0;
    }
    .ps-blog--sidebar {
        padding-bottom: 30px;
    }
    .ps-categories-box {
        padding: 35px 0;
    }
    .ps-search-trending .ps-section__header h3 {
        font-size: 18px;
    }

    .ps-search-trending .ps-section__header h3 span {
        font-size: 12px;
    }
    .ps-best-sale-brands .ps-image-list li {
        min-width: 50%;
        max-width: 50%;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    .ps-shop-brand > * {
        max-width: 25%;
    }
    .ps-section--gray {
        padding: 35px 0;
    }
    .ps-search__content {
        padding: 0 1.5rem;
    }
    .ps-form--photo-search .ps-form__content {
        align-items: flex-start;
        flex-flow: column-reverse wrap;
    }

    .ps-form--photo-search .ps-form__content .select2 {
        margin-bottom: 20px;
        min-width: 100%;
    }

    .ps-form--photo-search .ps-form__content .select2 .select2-selection {
        margin: 0 auto;
    }
    .ps-section--shopping {
        padding: 50px 0;
    }
    .ps-popup {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ps-modal__container {
        max-width: 300px;
    }
    .ps-section--vendor {
        padding: 50px 0;
    }

    .ps-section--vendor .ps-section__header p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .ps-section--vendor .ps-section__header h4 {
        font-size: 24px;
    }
    .ps-filter__column {
        width: 100%;
        max-width: 300px;
    }
    .ps-product--search-result {
        flex-flow: row nowrap;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eaeaea;
    }

    .ps-product--search-result .ps-product__thumbnail {
        margin-bottom: 0;
    }

    .ps-product--search-result .ps-product__content {
        padding-left: 10px;
    }
    .ps-product--hot-deal .ps-product__name {
        font-size: 16px;
    }

    .ps-product--hot-deal .ps-product__expires > p {
        margin-bottom: 10px;
    }

    .ps-product--hot-deal .ps-countdown li:after {
        top: 0;
        font-size: 20px;
    }

    .ps-product--hot-deal .ps-countdown li span {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .ps-product--hot-deal .ps-countdown p {
        font-size: 10px;
    }
    .ps-product--detail .ps-product__meta p {
        float: none;
        margin-bottom: 1rem;
    }

    .ps-product--detail .ps-product__meta > a {
        display: block;
        float: none;
        padding-left: 0;
    }

    .ps-product--detail .ps-product__shopping {
        display: block;
    }

    .ps-product--detail .ps-product__shopping figure {
        width: 100%;
    }

    .ps-product--detail .ps-product__shopping figure .form-group--number {
        width: 100%;
        max-width: 100%;
    }

    .ps-product--detail .ps-product__shopping .ps-btn {
        width: 100%;
        margin-right: 0;
    }
    .ps-product--detail .ps-product__countdown .ps-countdown li p {
        display: none;
    }
    .ps-product--detail .ps-product__bundle-item img {
        max-width: 50px;
    }
    .ps-product--wide {
        flex-flow: row wrap;
    }

    .ps-product--wide .ps-product__thumbnail {
        margin-bottom: 30px;
        max-width: 100%;
    }
    .ps-carousel--animate .slick-dots {
        bottom: 5px;
    }

    .ps-carousel--animate .slick-dots li button {
        width: 8px;
        height: 8px;
    }
    .ps-panel--sidebar {
        width: 100%;
        max-width: 100%;
    }
    .ps-block--vendor-filter {
        flex-flow: row wrap;
    }

    .ps-block--vendor-filter > * {
        max-width: 100%;
    }

    .ps-block--vendor-filter .ps-block__left {
        padding-bottom: 10px;
    }
    .ps-block--vendor-status {
        margin-bottom: 30px;
    }
    .ps-block--bought-toggether .ps-block__item {
        padding-right: 0;
    }

    .ps-block--bought-toggether .ps-block__item:first-child:after {
        display: none;
    }
    .ps-block--vendor-milestone {
        padding-left: 60px;
    }

    .ps-block--vendor-milestone:before {
        right: 25px;
    }

    .ps-block--vendor-milestone .ps-block__number {
        width: 50px;
        height: 50px;
    }

    .ps-block--vendor-milestone .ps-block__number span {
        font-size: 20px;
    }
    .ps-block--comment {
        flex-flow: column wrap;
    }

    .ps-block--comment > .ps-block__content > .ps-block--comment {
        margin-left: 30px;
    }
    .ps-block--categories-box .ps-block__item {
        padding: 0;
        margin-bottom: 15px;
    }

    .ps-block--categories-box .ps-block__item p {
        font-size: 13px;
    }

    .ps-block--categories-box .ps-block__item span {
        font-size: 12px;
    }

    .ps-block--categories-box .ps-block__header {
        flex-flow: row wrap;
    }

    .ps-block--categories-box .ps-block__header h3 {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .ps-block--categories-tabs .ps-block__header {
        padding: 0 15px;
    }

    .ps-block--categories-tabs .ps-block__item a {
        max-width: 33.3333%;
    }

    .ps-block--categories-tabs .ps-tab {
        padding: 20px 10px;
    }
    .ps-block--products-of-category {
        margin-bottom: 35px;
    }

    .ps-block--products-of-category .ps-product--simple {
        padding: 10px;
    }
    .ps-block--deal-hot {
        padding: 20px;
    }
    .ps-block--countdown-deal {
        flex-flow: row wrap;
    }

    .ps-block--countdown-deal .ps-block__left {
        margin-bottom: 10px;
    }

    .ps-block--countdown-deal .ps-block__left h3 {
        margin-right: 0;
    }
    .ps-block--testimonial {
        padding: 30px 20px;
    }
    .ps-block--category {
        padding: 20px 10px;
    }
    .ps-block--download-app h3 {
        font-size: 20px;
    }

    .ps-block--download-app p {
        font-size: 14px;
    }

    .ps-block--download-app .download-link {
        display: flex;
        flex-flow: row nowrap;
    }

    .ps-block--download-app .download-link a {
        width: 100%;
    }
    .ps-post--detail .ps-post__header {
        padding: 45px 0;
    }

    .ps-post--detail .ps-post__header h1 {
        font-size: 24px;
    }
    .ps-post--horizontal .ps-post__content {
        padding: 30px 20px;
    }
    .ps-footer__widgets > * {
        max-width: 50%;
        flex-basis: 50%;
    }

    .ps-footer__copyleft {
        flex-flow: row wrap;
        text-align: center;
    }

    .ps-footer__copyleft p {
        display: block;
        width: 100%;
    }

    .ps-footer__copyleft p span {
        display: block;
        padding-bottom: 10px;
    }
    .navigation--sidebar {
        width: 100%;
    }
    .header--mobile .header__top {
        display: none;
    }

    .header--mobile .header__actions > * {
        margin: 0 0 0 20px;
    }

    .header--mobile .header__actions i {
        font-size: 24px;
    }

    .header--mobile .ps-block--user-header {
        margin-left: 0;
    }

    .header--mobile .ps-block--user-header i {
        font-size: 24px;
    }

    .header--mobile .ps-block--user-header .ps-block__right {
        display: none;
    }

    .header--mobile .ps-search--mobile {
        display: block;
    }
    .ps-page--blog .ps-page__header {
        padding: 25px 0;
    }

    .ps-page--blog .ps-page__header h1 {
        font-size: 24px;
    }
    .ps-container {
        padding: 0 15px;
    }
    .ps-row .ps-column {
        width: 100%;
    }
    .ps-col-tiny .col-xs-12 {
        width: 100%;
    }
}



@media (max-width: 580px) {
    .ps-store-list .ps-store-link ul {
        display: flex;
        flex-flow: row wrap;
    }

    .ps-store-list .ps-store-link ul li {
        margin-right: 0;
        flex-basis: 50%;
        margin-bottom: 10px;
    }
    .ps-block--categories-box .ps-block__content .ps-block__item {
        max-width: 50%;
        flex-basis: 50%;
    }
    .ps-new-arrivals .ps-section__content .col-12 {
        max-width: 100%;
        flex-basis: 100%;
    }
}


@media (max-width: 767px){
    .ps-page--shop .ps-product .ps-product__vendor {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ps-page--shop .ps-product .ps-product__content:not(.hover) {
        width: 100%;
        right: 0;
        padding: 0 10px 20px;
    }
    .ps-page--404 h3 {
        font-size: 24px;
    }

    .ps-page--404 p {
        font-size: 14px;
    }
    #homepage-1 .ps-download-app {
        margin-bottom: 50px;
    }
    #homepage-1 .ps-top-categories {
        padding: 40px 0;
    }
    #homepage-1 .ps-product-list {
        padding-bottom: 40px;
    }
    #shop-carousel .ps-carousel--nav-inside {
        padding: 30px 0;
    }
    #shop-categories .ps-more-categories .ps-section__content .ps-block--category-vertical {
        max-width: 50%;
    }
    #shop-carousel .ps-product-list {
        margin-bottom: 50px;
    }
    #shop-carousel .ps-carouse--nav-inside {
        margin-bottom: 40px;
    }
    .ps-section--shopping {
        padding: 60px 0;
    }

    .ps-section--shopping .ps-section__header {
        padding-bottom: 40px;
    }

    .ps-section--shopping .ps-section__header h1 {
        font-size: 30px;
    }
    .ps-newsletter {
        padding: 50px 0;
    }
    .ps-section--vendor {
        padding: 60px 0;
    }

    .ps-section--vendor .ps-section__header h4 {
        font-size: 24px;
    }
    .ps-section--gray {
        padding: 50px 0;
    }
    .ps-vendor-dashboard .ps-section__header {
        padding: 60px 0;
    }

    .ps-vendor-dashboard .ps-section__header h3 {
        font-size: 36px;
    }

    .ps-vendor-dashboard .ps-section__header p {
        font-size: 14px;
    }

    .ps-vendor-dashboard .ps-section__links li {
        margin-bottom: 4px;
    }

    .ps-vendor-dashboard .ps-section__links li a {
        font-size: 16px;
    }
    .ps-order-tracking {
        padding: 60px 0;
    }
    .ps-vendor-best-fees .ps-section__content > h5 {
        font-size: 16px;
    }

    .ps-vendor-best-fees .ps-section__desc ul li {
        font-size: 14px;
    }

    .ps-vendor-best-fees .ps-section__highlight {
        padding: 30px 10px;
    }

    .ps-vendor-best-fees .ps-section__highlight figure {
        text-align: right;
        padding: 0 20px;
    }

    .ps-vendor-best-fees .ps-section__highlight figure p {
        font-size: 14px;
    }
    .ps-vendor-banner {
        padding: 80px 0;
    }

    .ps-vendor-banner .ps-btn {
        font-size: 16px;
    }
    .ps-call-to-action {
        padding: 80px 0;
    }
    .ps-faqs .ps-section__header {
        padding-bottom: 50px;
    }

    .ps-faqs .ps-section__header h1 {
        font-size: 24px;
    }
    .ps-about-awards {
        padding: 70px 0;
    }

    .ps-about-awards .ps-section__header h4 {
        margin-bottom: 50px;
        font-size: 24px;
    }

    .ps-about-awards .ps-section__header p {
        font-size: 14px;
    }
    .ps-our-team {
        padding: 60px 0;
    }

    .ps-our-team .ps-section__header {
        padding-bottom: 30px;
    }

    .ps-our-team .ps-section__header h3 {
        font-size: 24px;
    }

    .ps-our-team .ps-section__content figure {
        max-width: 50%;
    }
    .ps-about-intro {
        padding: 50px 0;
    }

    .ps-about-intro .ps-section__header h4 {
        margin-bottom: 50px;
    }

    .ps-about-intro .ps-section__header h3 {
        font-size: 24px;
    }

    .ps-about-intro .ps-section__header p {
        font-size: 14px;
    }
    .ps-blog--sidebar {
        padding-bottom: 45px;
    }
    .ps-blog {
        padding-bottom: 50px;
    }
    .ps-home-blog .ps-section__header {
        flex-flow: row wrap;
    }

    .ps-home-blog .ps-section__header h3 {
        display: block;
        margin-bottom: 10px;
    }
    .ps-categories-box {
        padding: 45px 0;
    }
    .ps-best-sale-brands .ps-image-list li {
        min-width: 33.3333%;
        max-width: 33.3333%;
    }
    .ps-shopping .ps-shopping__header {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .ps-shopping .ps-shopping__header > * {
        flex-basis: 100%;
        max-width: 50%;
    }

    .ps-shopping .ps-shopping__header .ps-shopping__view {
        padding-left: 10px;
    }

    .ps-shopping .ps-shopping__actions {
        width: 100%;
        justify-content: flex-end;
    }

    .ps-shopping .ps-shopping__actions .select2 {
        display: none;
    }
    .ps-layout--shop {
        padding-bottom: 45px;
    }
    .ps-shop-brand {
        flex-flow: row wrap;
    }

    .ps-shop-brand > * {
        max-width: 20%;
        padding: 5px 10px;
    }
    .ps-shopping-product .row {
        margin: 0 -2px;
    }

    .ps-shopping-product .row > * {
        padding: 0 2px;
    }

    .ps-shopping-product .ps-product {
        margin-bottom: 4px;
    }

    .ps-shopping-product .ps-product .ps-product__badge {
        top: 5px;
        left: 5px;
    }
    .ps-modal {
        overflow: auto;
    }

    .ps-modal__container {
        position: relative;
        top: 0;
        right: 0;
        transform: translate(0, 0);
        margin: 3rem auto;
        overflow: auto;
    }
    .ps-table--product-groupped .title {
        font-size: 14px;
    }

    .ps-table--product-groupped tbody tr td {
        min-width: 200px;
    }
    .ps-table--responsive {
        border: none;
        max-width: 100vw;
    }

    .ps-table--responsive .ps-product--cart {
        flex-flow: column nowrap;
        align-items: flex-end;
        margin-left: 30px;
    }

    .ps-table--responsive .ps-product--cart .ps-product__thumbnail {
        display: none;
    }

    .ps-table--responsive .ps-product--cart .ps-product__content {
        padding-left: 0;
    }

    .ps-table--responsive thead {
        display: none;
    }

    .ps-table--responsive tbody {
        display: block;
    }

    .ps-table--responsive tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    .ps-table--responsive tbody tr td[data-label] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        text-transform: capitalize;
        border-top: 1px solid #ddd;
        min-width: 100px;
    }

    .ps-table--responsive tbody tr td[data-label]:before {
        content: attr(data-label) ":";
        font-weight: 600;
    }

    .ps-table--responsive tbody tr td[data-label]:first-child {
        border-top: none;
    }
    .ps-filter--shopping .ps-filter__column-switch {
        display: none;
    }
    .ps-filter__result {
        text-align: right;
    }
    .ps-product--detail .ps-product__countdown figure figcaption {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.6em;
    }

    .ps-product--detail .ps-product__countdown .ps-countdown {
        display: flex;
        max-width: 320px;
        justify-content: space-between;
    }

    .ps-product--detail .ps-product__countdown .ps-countdown li span {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .ps-product--horizontal .ps-product__thumbnail {
        max-width: 75px;
    }

    .ps-product--horizontal .ps-product__content {
        padding-left: 10px;
    }
    .ps-product {
        padding: 0;
    }
    .ps-block--icon p {
        font-size: 16px;
    }

    .ps-block--icon h5 {
        font-size: 18px;
    }
    .ps-collection {
        margin-bottom: 30px;
    }
    .ps-block--bought-toggether .ps-block__items {
        margin-bottom: 20px;
    }

    .ps-block--bought-toggether .ps-block__items .ps-block__item {
        max-width: 50%;
    }
    .ps-product--detail .ps-product__header {
        flex-flow: column wrap;
    }

    .ps-product--detail .ps-product__header .ps-product__thumbnail {
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .ps-product--detail .ps-product__header .ps-product__info {
        width: 100%;
        padding-left: 0;
        max-width: 100%;
    }

    .ps-product--detail h1 {
        font-size: 2.4rem;
    }

    .ps-product--detail .ps-product__sharing {
        text-align: right;
    }

    .ps-product--detail > .ps-product__content {
        padding-top: 50px;
    }

    .ps-product--detail > .ps-product__content .ps-tab-list li {
        display: block;
        margin-right: 0;
    }

    .ps-product--detail > .ps-product__content .ps-tab-list li a {
        display: block;
        padding: 5px 0;
        font-size: 18px;
    }

    .ps-product--detail > .ps-product__content .ps-tab-list li a:before {
        display: none;
    }
    .ps-block--comment > .ps-block__thumbnail {
        max-width: 90px;
    }

    .ps-block--comment > .ps-block__content {
        padding: 10px 0 30px 0;
    }
    .ps-block--icon-box {
        margin-bottom: 20px;
        text-align: center;
    }

    .ps-block--icon-box i {
        font-size: 60px;
        margin-bottom: 20px;
    }

    .ps-block--icon-box h4 {
        font-size: 24px;
    }

    .ps-block--icon-box p {
        font-size: 14px;
    }
    .ps-block--container-hightlight .row {
        margin: 0 -2px;
    }

    .ps-block--container-hightlight .row > * {
        padding: 0 2px;
    }

    .ps-block--container-hightlight .ps-product {
        margin-bottom: 4px;
    }
    .ps-block--container-hightlight .ps-section__header h3 {
        font-size: 16px;
    }
    .ps-block--categories-box .ps-block__item {
        padding: 10px;
        text-align: center;
    }

    .ps-block--categories-box .ps-block__item p {
        margin-bottom: 0;
        font-size: 14px;
    }

    .ps-block--categories-box .ps-block__header h3 {
        font-size: 20px;
    }
    .ps-block--vendor-milestone {
        flex-flow: column-reverse wrap;
        padding-left: 100px;
    }

    .ps-block--vendor-milestone:before {
        right: 40px;
    }

    .ps-block--vendor-milestone .ps-block__number {
        right: 0;
        transform: translateX(0);
    }

    .ps-block--vendor-milestone .ps-block__left {
        padding: 0;
    }

    .ps-block--vendor-milestone .ps-block__left h4 {
        font-size: 18px;
    }

    .ps-block--vendor-milestone .ps-block__right {
        text-align: center;
        margin-bottom: 40px;
        padding: 40px 0 0;
    }

    .ps-block--vendor-milestone .ps-block__right img {
        max-height: 150px;
    }

    .ps-block--vendor-milestone.reverse {
        flex-flow: column-reverse wrap;
    }

    .ps-block--vendor-milestone.reverse .ps-block__left {
        padding: 0;
    }

    .ps-block--vendor-milestone.reverse .ps-block__right {
        padding: 0;
        text-align: center;
    }
    .ps-block--categories-tabs .ps-tab {
        padding: 20px 15px;
    }

    .ps-block--categories-tabs .ps-block__item {
        margin-bottom: 30px;
        padding: 0 10px;
    }

    .ps-block--categories-tabs .ps-block__item a {
        max-width: 25%;
    }
    .ps-block--products-of-category {
        margin-bottom: 50px;
    }

    .ps-block--products-of-category .ps-block__product-box {
        border-bottom: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
    }

    .ps-block--products-of-category .ps-block__product-box > * {
        max-width: 50%;
        flex-basis: 50%;
    }

    .ps-block--products-of-category .ps-product--simple {
        padding: 20px;
        border: 1px solid #e1e1e1;
        border-right: none;
        border-bottom: none;
    }
    .ps-block--testimonial .ps-block__content > i {
        display: none;
    }
    .ps-pagination .pagination > li {
        margin-bottom: 10px;
    }

    .ps-pagination .pagination > li > a {
        min-width: 40px;
        line-height: 40px;
        font-size: 1.4rem;
    }
    .ps-post--detail .ps-post__header {
        padding: 60px 0;
    }

    .ps-post--detail .ps-post__header h1 {
        font-size: 32px;
    }

    .ps-post--detail .ps-post__header h1 br {
        display: none;
    }
    .ps-post--horizontal .ps-post__content {
        padding: 40px 30px;
    }
    .ps-post--small-thumbnail {
        flex-flow: column wrap;
    }

    .ps-post--small-thumbnail .ps-post__thumbnail {
        margin-bottom: 30px;
        max-width: 100%;
    }

    .ps-post--small-thumbnail .ps-post__content {
        padding-left: 0;
    }

    .ps-post--small-thumbnail .ps-post__bottom {
        margin-top: 10px;
    }
    .ps-footer--3 .ps-block--site-features {
        margin-bottom: 40px;
    }
    .ps-footer__widgets {
        flex-flow: row wrap;
    }

    .ps-footer__widgets > * {
        width: 100%;
        max-width: 25%;
    }

    .ps-footer__widgets .widget_contact-us {
        max-width: 100%;
        width: 100%;
    }
    .header--mobile .navigation__extra li > a {
        display: none;
    }

    .header--mobile .navigation__extra ul > li > a {
        display: block;
    }
    .ps-page--blog .ps-page__header {
        padding: 30px 0;
    }

    .ps-page--blog .ps-page__header h1 {
        font-size: 32px;
    }
    .form-group--inline {
        display: block;
    }
    .ps-row .ps-column {
        width: calc(100% / 2);
    }
    .ps-col-tiny .col-xs-12 {
        width: 50%;
    }
    .ps-heading {
        font-size: 2.4rem;
    }
}




@media (max-width: 991px){
    .ps-form--order-tracking .form-group > label {
        font-size: 16px;
        font-weight: 500;
    }
    .ps-popup {
        padding: 100px 30px 20px;
    }

    .ps-popup .ps-popup__content {
        position: relative;
        top: 0;
        right: 0;
        max-width: 800px;
        margin: 0 auto;
    }

    .ps-popup.active .ps-popup__content {
        transform: translate(0, 0);
    }
    .ps-section--vendor {
        padding: 75px 0;
    }

    .ps-section--vendor .ps-section__header {
        padding-bottom: 50px;
    }

    .ps-section--vendor .ps-section__header p {
        margin-bottom: 16px;
    }
    .ps-section--shopping {
        padding: 75px 0;
    }

    .ps-section--shopping .ps-section__header h1 {
        font-size: 36px;
    }
    .ps-product-list .ps-section__header h3 {
        padding-bottom: 10px;
    }
    .ps-new-arrivals .ps-section__content .col-12 {
        max-width: 50%;
        flex-basis: 50%;
    }
    .ps-best-sale-brands .ps-image-list {
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

    .ps-best-sale-brands .ps-image-list li {
        min-width: 25%;
        max-width: 25%;
        border: none;
    }
    .ps-blog--sidebar {
        flex-flow: column wrap;
    }

    .ps-blog--sidebar .ps-blog__left {
        margin-bottom: 50px;
    }

    .ps-blog--sidebar .ps-blog__right {
        padding-left: 0;
    }

    .ps-blog--sidebar.reverse {
        flex-flow: column wrap;
    }

    .ps-blog--sidebar.reverse .ps-blog__left {
        padding-left: 0;
    }
    .ps-our-team {
        padding: 90px 0;
    }

    .ps-our-team .ps-section__header {
        padding-bottom: 40px;
    }

    .ps-our-team .ps-section__header h3 {
        font-size: 28px;
    }

    .ps-our-team .ps-section__content figure {
        max-width: 33.3333%;
    }
    .ps-about-intro {
        padding: 70px 0;
    }
    .ps-about-awards {
        padding: 80px 0;
    }
    .ps-contact-form h3 {
        font-size: 24px;
    }
    .ps-contact-info {
        padding: 60px 0;
    }

    .ps-contact-info h3 {
        font-size: 24px;
    }
    .ps-vendor-banner {
        padding: 100px 0;
    }

    .ps-vendor-banner h2 {
        font-size: 28px;
    }

    .ps-vendor-banner .ps-btn {
        font-size: 20px;
        padding: 15px 30px;
    }
    .ps-vendor-about .ps-block--icon-box-2 {
        max-width: 450px;
        margin: 0 auto 40px;
    }

    .ps-vendor-about .ps-section__header h4 br {
        display: none;
    }
    .ps-call-to-action {
        padding: 100px 0;
    }
    .ps-order-tracking {
        padding: 75px 0;
    }

    .ps-order-tracking .ps-section__header {
        padding-bottom: 60px;
    }

    .ps-order-tracking .ps-section__header h3 {
        margin-bottom: 20px;
        font-size: 36px;
    }

    .ps-order-tracking .ps-section__header p {
        font-size: 14px;
    }
    .ps-vendor-faqs .ps-section__footer {
        padding-top: 60px;
    }

    .ps-vendor-faqs .ps-section__footer p {
        font-size: 20px;
    }

    .ps-vendor-faqs .ps-section__footer .ps-btn {
        font-size: 16px;
        padding: 15px 30px;
    }
    #homepage-1 .ps-top-categories {
        padding: 50px 0;
    }
    #homepage-1 .ps-product-list {
        padding-bottom: 50px;
    }
    #shop-categories .ps-more-categories .ps-section__content .ps-block--category-vertical {
        max-width: calc(100% / 3);
    }
    .ps-modal__container {
        max-width: 90%;
    }

    .ps-modal__close {
        transform: translate(0, 0);
        background-color: transparent;
        width: 30px;
        height: 30px;
    }

    .ps-modal__close i {
        color: #5e6b9d;
    }
    .ps-table--whishlist tbody tr td {
        min-width: 200px;
    }

    .ps-table--whishlist tbody tr td:first-child {
        max-width: 50px;
        min-width: 50px;
        text-align: center;
    }

    .ps-table--whishlist tbody tr td:nth-child(2) {
        min-width: 300px;
    }
    .ps-filter__column {
        width: 50%;
        max-width: 300px;
    }
    .ps-product--full-content .ps-product__top {
        flex-direction: column;
    }

    .ps-product--full-content .ps-product__top .ps-product__header {
        margin-bottom: 30px;
        max-width: 100%;
    }

    .ps-product--full-content .ps-product__top .ps-product__price-right {
        max-width: 100%;
    }
    .ps-product--hot-deal .ps-product__header .ps-product__info {
        padding-left: 10px;
    }

    .ps-product--hot-deal .ps-countdown li span {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    .ps-product--detail .ps-product__header .ps-product__thumbnail {
        padding-right: 0;
    }

    .ps-product--detail .ps-product__header .ps-product__info {
        padding-left: 3rem;
    }

    .ps-product--detail .ps-product__shopping .form-group--number {
        max-width: 100px;
    }

    .ps-product--detail .ps-product__thumbnail {
        padding-right: 0;
    }

    .ps-product--detail > .ps-product__content {
        padding-top: 75px;
    }

    .ps-product--detail > .ps-product__content .tab-list li {
        margin-right: 3rem;
    }

    .ps-product--detail > .ps-product__content .tab-list li a {
        font-size: 1.4rem;
    }
    .ps-block--vendor-milestone .ps-block__left {
        padding-right: 80px;
    }

    .ps-block--vendor-milestone .ps-block__left h4 {
        font-size: 18px;
    }

    .ps-block--vendor-milestone .ps-block__left ul li {
        font-size: 14px;
    }

    .ps-block--vendor-milestone .ps-block__right {
        padding-left: 80px;
    }

    .ps-block--vendor-milestone .ps-block__number {
        width: 80px;
        height: 80px;
    }

    .ps-block--vendor-milestone .ps-block__number span {
        font-size: 24px;
    }

    .ps-block--vendor-milestone.reverse .ps-block__left {
        padding-left: 80px;
    }

    .ps-block--vendor-milestone.reverse .ps-block__right {
        padding-left: 0;
        padding-right: 80px;
    }
    .ps-block--categories-grid {
        border-top: 1px solid rgba(141, 141, 141, 0.15);
        border-left: 1px solid rgba(141, 141, 141, 0.15);
    }

    .ps-block--categories-grid .ps-block--category-2 {
        max-width: 50%;
    }

    .ps-block--categories-grid .ps-block--category-2:nth-child(4), .ps-block--categories-grid .ps-block--category-2:nth-child(5), .ps-block--categories-grid .ps-block--category-2:nth-child(6) {
        border-bottom: 1px solid rgba(141, 141, 141, 0.15);
    }

    .ps-block--categories-grid .ps-block--category-2:nth-child(3), .ps-block--categories-grid .ps-block--category-2:nth-child(6) {
        border-right: 1px solid rgba(141, 141, 141, 0.15);
    }
    .ps-block--categories-box .ps-block__content .ps-block__item {
        max-width: 33.333%;
    }
    .ps-block--product-box .ps-block__content {
        flex-flow: column wrap;
    }

    .ps-block--product-box .ps-block__content .ps-block__left,
    .ps-block--product-box .ps-block__content .ps-block__right {
        max-width: 100%;
    }
    .ps-block--categories-tabs .ps-block__item {
        margin-bottom: 30px;
    }

    .ps-block--categories-tabs .ps-block__item a {
        max-width: calc(100% / 5);
    }
    .ps-block--products-of-category {
        flex-flow: row wrap;
    }

    .ps-block--products-of-category .ps-block__categories {
        max-width: 100%;
    }

    .ps-block--products-of-category .ps-block__categories h3 {
        margin-bottom: 20px;
    }

    .ps-block--products-of-category .ps-block__categories ul li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .ps-block--products-of-category .ps-block__categories ul li:last-child {
        margin-right: 0;
    }

    .ps-block--products-of-category .ps-block__categories .ps-block__more-link {
        position: relative;
        bottom: 0;
        right: 0;
    }

    .ps-block--products-of-category .ps-block__product-box {
        width: 100%;
    }
    .ps-block--testimonial .ps-block__content {
        padding-top: 30px;
    }
    .ps-block--site-features.ps-block--site-features-2 .ps-block__item {
        border-right: none;
    }
    .ps-block--site-features {
        justify-content: flex-start;
    }

    .ps-block--site-features .ps-block__item {
        max-width: 50%;
        max-width: 33.33333%;
    }

    .ps-block--site-features.ps-block--site-features-2 .ps-block__item {
        max-width: 50%;
    }

    .header--mobile .header__top .header__left {
        display: none;
    }

    .header--mobile .header__top .header__right {
        max-width: 100%;
        text-align: center;
    }
    .ps-page--blog .ps-page__header {
        padding: 45px 0;
    }

    .ps-page--blog .ps-page__header h1 {
        font-size: 36px;
    }
    .ps-row .ps-column {
        width: calc(100% / 3);
    }
    .ps-block--download-app .ps-block__thumbnail {
        margin-bottom: 30px;
    }
    .ps-breadcrumb {
        position: relative;
        padding: 10px 0;
    }

    .ps-breadcrumb .breadcrumb li {
        font-size: 12px;
    }

    .ps-breadcrumb .breadcrumb a {
        font-size: 12px;
    }
    .ps-post--detail .ps-post__header {
        padding: 90px 0;
    }

    .ps-post--detail .ps-post__header h1 {
        font-size: 36px;
    }

    .ps-post--detail .ps-post__header p {
        font-size: 14px;
    }
    .ps-post--horizontal {
        flex-flow: row wrap;
    }

    .ps-post--horizontal .ps-post__thumbnail {
        max-width: 100%;
    }

    .ps-post--horizontal .ps-post__content {
        max-width: 100%;
    }
}


@media (max-width: 1024px) {
    .ps-product--wide .ps-product__shopping {
        margin-top: 20px;
    }

    .ps-product--wide .ps-product__container {
        flex-flow: row wrap;
    }
    .ps-block--site-features {
        flex-flow: row wrap;
    }

    .ps-block--site-features .ps-block__item {
        margin-bottom: 30px;
        max-width: 25%;
        padding: 0;
    }
}



@media (max-width: 1199px){
    #homepage-1 .ps-top-categories {
        padding: 60px 0;
    }
    #shop-categories .ps-more-categories .ps-section__content .ps-block--category-vertical {
        max-width: 25%;
    }
    #homepage-1 .ps-home-banner {
        display: block;
    }

    #homepage-1 .ps-home-banner .ps-collection {
        width: 100%;
        max-width: 50%;
        padding: 0 15px;
    }

    #homepage-1 .ps-home-banner .ps-collection img {
        width: 100%;
    }

    #homepage-1 .ps-home-banner .ps-section__left {
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    #homepage-1 .ps-home-banner {
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        max-width: 100%;
    }

    #homepage-1 .ps-home-banner .ps-container {
        flex-flow: column nowrap;
    }
    .ps-vendor-store .ps-section__container {
        flex-flow: column wrap;
    }

    .ps-vendor-store .ps-section__container .ps-section__left {
        max-width: 450px;
        margin-bottom: 30px;
    }

    .ps-vendor-store .ps-section__container .ps-section__right {
        max-width: 100%;
        padding-left: 0;
    }

    .ps-section__right {
        display: none;
    }

    .fix-offset {
        display: none;
    }
    .ps-vendor-banner {
        padding: 120px 0;
    }

    .ps-vendor-banner h2 {
        font-size: 36px;
    }
    .ps-about-awards {
        padding: 100px 0;
    }
    .ps-our-team .ps-section__header {
        padding-left: 0;
        padding-bottom: 50px;
    }
    .ps-about-intro {
        padding: 80px 0;
    }
    .ps-blog--sidebar .ps-blog__left {
        padding-right: 0;
    }

    .ps-blog--sidebar.reverse .ps-blog__left {
        padding-left: 30px;
        padding-right: 0;
    }
    .ps-shopping {
        margin-top: 40px;
    }
    .ps-layout--shop {
        flex-flow: column-reverse wrap;
    }

    .ps-layout--shop .ps-layout__left {
        max-width: 100%;
        padding-right: 0;
        display: none;
    }

    .ps-layout--shop .ps-layout__right {
        max-width: 100%;
        margin-bottom: 50px;
    }
    .ps-shopping-product .ps-product {
        margin-bottom: 30px;
    }
    .ps-product-list .ps-section__header {
        flex-flow: row wrap;
    }
    .ps-form--newsletter p {
        margin-bottom: 10px;
    }
    .ps-table--compare {
        table-layout: initial;
    }

    .ps-table--compare tbody tr td {
        min-width: 300px;
    }
    .ps-product--hot-deal .ps-product__thumbnail .ps-product__variants {
        min-width: 100%;
        max-width: 100%;
    }

    .ps-product--hot-deal .ps-product__thumbnail figure {
        max-width: 100%;
        padding-left: 0;
    }
    .ps-product--detail .ps-product__thumbnail {
        flex-flow: column wrap;
    }

    .ps-product--detail .ps-product__thumbnail figure {
        margin-bottom: 30px;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

    .ps-product--detail .ps-product__thumbnail .ps-product__variants {
        position: relative;
        padding: 0 40px;
        float: none;
        width: 100%;
        max-width: 100%;
    }

    .ps-product--detail .ps-product__thumbnail .ps-product__variants .item {
        border: none;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .ps-product--detail .ps-product__thumbnail .ps-product__variants .slick-arrow {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
    }

    .ps-product--detail .ps-product__thumbnail .ps-product__variants .slick-arrow:first-child {
        right: 0;
    }

    .ps-product--detail .ps-product__thumbnail .ps-product__variants .slick-arrow:last-child {
        left: 0;
    }

    .ps-product--detail.ps-product--thumbnail-right .ps-product__thumbnail {
        flex-flow: row wrap;
    }

    .ps-product--detail.ps-product--thumbnail-right .ps-product__thumbnail figure {
        padding-left: 0;
        padding-right: 0;
    }
    .ps-carousel--nav-inside .owl-nav {
        display: none;
    }

    .ps-carousel--nav-inside .owl-dots {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .ps-carousel--responsive {
        margin-bottom: 3rem;
        padding-bottom: 30px;
    }

    .ps-carousel--responsive .owl-nav {
        display: none;
    }

    .ps-carousel--responsive .owl-dots {
        display: block !important;
    }
    .ps-carousel--nav {

    }

    .ps-carousel--nav .owl-nav {
        display: none;
    }

    .ps-carousel--nav .owl-dots {
        display: block !important;
    }
    .ps-block--promotion-header {
        display: none;
    }
    .ps-block--bought-toggether .ps-block__items .ps-block__item {
        max-width: 33.333%;
    }
    .ps-block--menu-categories {
        display: none;
    }
    .ps-block--categories-box .ps-block__banner {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .ps-block--categories-box .ps-block__banner img {
        width: 100%;
    }

    .ps-block--categories-box .ps-block__item {
        margin-bottom: 0;
    }

    .ps-block--categories-box .ps-block__content .ps-block__item {
        max-width: 25%;
    }
    .ps-block--product-box .ps-block__header {
        flex-flow: row wrap;
    }

    .ps-block--product-box .ps-block__header h3 {
        margin-bottom: 10px;
        display: block;
    }
    .ps-block--products-of-category .ps-block__slider {
        display: none;
    }
    .ps-block--categories-tabs .ps-block__header {
        padding: 0 30px;
    }

    .ps-block--categories-tabs .ps-block__header .ps-tab-list a {
        border: none;
    }

    .ps-block--categories-tabs .ps-block__header .ps-tab-list a i {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .ps-block--categories-tabs .ps-block__header .ps-tab-list a span {
        font-size: 12px;
    }

    .ps-block--categories-tabs .ps-tab {
        padding: 20px 30px;
    }
    .form-group--inline {
        padding-left: 0;
    }

    .form-group--inline label {
        position: static;
        transform: translateY(0);
    }

    .form-group--inline.textarea label {
        transform: translateY(0);
    }
    .menu-toggle, .ps-btn--hamburger {
        display: inline-block;
    }

    .navigation--sticky.navigation--unpin {
        transform: translate(0, 0);
    }
    .header--mobile .ps-search--mobile {
        display: none;
    }
    .header--standard {
        display: none;
    }
    .header {
        display: none;
    }

    .header.header--mobile {
        display: block;
    }
    .ps-page--product .ps-page__container {
        flex-flow: column wrap;
    }

    .ps-page--product .ps-page__container .ps-page__left {
        max-width: 100%;
        padding-right: 0;
    }
    .ps-page--shop .ps-product:not(.ps-product--wide) {
        border-color: #dfdfdf;
    }

    .ps-page--shop .ps-product:not(.ps-product--wide) .ps-product__content:not(.hover) {
        position: relative;
        display: block;
        right: 0;
        padding: 0 10px 20px;
        border-bottom: 1px solid #dfdfdf;
        border-top: none;
    }

    .ps-page--shop .ps-shop-banner,
    .ps-page--shop .ps-shop-brand,
    .ps-page--shop .ps-shop-categories,
    .ps-page--shop .ps-shop-categories,
    .ps-page--shop .ps-block--shop-features,
    .ps-page--shop .ps-block--shop-features {
        display: none;
    }
}

@media (max-width: 1440px) {
    .ps-product--horizontal .ps-product__content {
        padding-right: 0;
    }
    .ps-block--site-features .ps-block__item {
        flex-flow: row wrap;
        border-right: none;
    }

    .ps-block--site-features .ps-block__left {
        margin-bottom: 15px;
    }

    .ps-block--site-features .ps-block__right {
        width: 100%;
        padding-left: 0;
    }
    .ps-block--site-features.ps-block--site-features-2 .ps-block__item {
        flex-flow: row nowrap;
        border-right: 1px solid #dadada;
    }

    .ps-block--site-features.ps-block--site-features-2 .ps-block__item:last-child {
        border-right: none;
    }

    .ps-block--site-features.ps-block--site-features-2 .ps-block__left {
        margin-bottom: 15px;
    }

    .ps-block--site-features.ps-block--site-features-2 .ps-block__right {
        width: 100%;
        padding-left: 15px;
    }
}

@media (max-width: 1600px) {
    .ps-row .ps-column {
        width: 25%;
    }
}


@media (max-width: 1680px) {
    .ps-product--detail .ps-product__countdown figure {
        flex-flow: column wrap;
    }

    .ps-product--detail .ps-product__countdown figure figcaption {
        margin-bottom: 10px;
    }
    .ps-product--detail .ps-product__shopping {
        flex-flow: row wrap;
    }

    .ps-product--detail .ps-product__shopping > * {
        margin-right: 10px;
    }

    .ps-product--detail .ps-product__shopping .ps-btn {
        margin-right: 10px;
        text-align: center;
    }
    .ps-block--categories-tabs .owl-slider .owl-nav .owl-prev {
        margin-left: -30px;
    }

    .ps-block--categories-tabs .owl-slider .owl-nav .owl-next {
        margin-right: -30px;
    }
    .ps-container {
        padding: 0 30px;
        max-width: 100%;
    }
    .ps-block--category-2 .ps-block__thumbnail {
        max-width: 100px;
        padding-top: 20px;
    }
    .ps-block--site-features {
        padding: 30px;
    }

    .ps-block--site-features .ps-block__item {
        padding: 0 15px;
    }
    .ps-carousel--nav .owl-nav .owl-prev {
        margin-left: -40px;
    }

    .ps-carousel--nav .owl-nav .owl-next {
        margin-right: -40px;
    }
}
