
@media (max-width: 375px) {
}



@media (max-width: 420px) {
}





@media (max-width: 479px){
}



@media (max-width: 580px) {
}


@media (max-width: 767px){
}




@media (max-width: 991px){
}


@media (max-width: 1024px) {
}



@media (max-width: 1199px){
}

@media (max-width: 1440px) {
}

@media (max-width: 1600px) {
}


@media (max-width: 1680px) {

    .ps-container {
        padding: 0 30px;
        max-width: 100%;
    }


    .ps-block--site-features {
        padding: 30px;
    }

    .ps-block--site-features .ps-block__item {
        padding: 0 15px;
    }

    .ps-carousel--nav .owl-nav .owl-prev {
        margin-left: -40px;
    }

    .ps-carousel--nav .owl-nav .owl-next {
        margin-right: -40px;
    }
}
