/*general*/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 55%;
}

body {
    margin: 0;
    direction: rtl;
    overflow-x: hidden;
    background: #f9f9f9;
    font-size: 12px;
    text-align: right;
}

html, body {
    min-height: 100%;
    position: relative;
}


li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

b, strong {
    font-weight: inherit;
}

b, strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

img {
    border-style: none;
    max-width: 100%;
}

a:hover,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus {
    text-decoration: none;
    color: #6ab9b7;
}

a:focus,
button:focus,
select:focus,
input:focus,
textarea:focus {
    outline: none;
    text-decoration: none;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

* {
    font-family: 'IRANSans-web';
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    color: #606060;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 1.4rem;
    line-height: 1.6em;
    color: #666;
}

a {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: all 0.4s ease;
}

a, input, textarea, button, select {
    outline: none;
}

a:hover,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus {
    text-decoration: none;
    color: #6ab9b7;
}

.ps-container {
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    cursor: pointer;
    transition: all 0.4s ease;
}

.ps-btn, button.ps-btn {
    display: inline-block;
    padding: 14px 45px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #6ab9b7;
    border: 1px solid #6ab9b7;
    font-weight: 600;
    border-radius: 4px;
    background-color: #ffffff;
    transition: all .4s ease;
    cursor: pointer;
}
.ps-btn, button.ps-btn:hover {
    background-color: #6ab9b7;
    color: #fff;

}
.ps-btn--fullwidth{
    width: 100%;
}
.form-control {
    outline: none;
    height: 50px;
    font-size: 14px;
    padding: 0 20px;
    border: none;
    height: 50px;
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 0 rgba(0, 0, 0, 0);
    transition: all .4s ease;
    box-shadow: 0 0 0 #000;
}

.form-control::-webkit-input-placeholder {
    opacity: 1;
}


.form-group {
    margin-bottom: 2.5rem;
}

.form-group > label {
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: #000000;
    line-height: 1em;
}

.fix-offset {
    content: "";
    width: 100%;
    height: 145px;
}

/*footer*/

.tob-b{
    border-top: 1px solid #e1e1e1;
}
.ps-list--social {
    margin: 0;
    padding: 0;
}

.ps-list--social li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.ps-list--social li a {
    display: inline-block;
    font-size: 18px;
    color: #666;
}

.ps-list--social li a.facebook i {
    color: #3b5998;
}

.ps-list--social li a.twitter i {
    color: #0084b4;
}

.ps-list--social li a.google-plus i {
    color: #FF0000;
}

.ps-list--social li a.instagram i {
    color: #C32AA3;
}

.ps-list--link li {
    display: block;
    padding: 4px 0;
}

.ps-list--link li a {
    display: inline-block;
    color: #666;
    line-height: 20px;
    position: relative;
}

.ps-list--link li a:before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scale3d(0, 1, 1);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    transform-origin: 100% 50%;
}

.widget {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.widget .widget-title {
    margin-bottom: 2.5rem;
    font-weight: 700;
}

.widget:last-child {
    border-bottom: none;
}

.widget_footer .widget-title {
    font-size: 16px;
    margin-bottom: 30px;
    color: #000;
    font-weight: 600;
}

.widget_contact-us .widget_content h3 {
    color: #6ab9b7;
}

.widget_contact-us .widget_content .ps-list--social {
    padding-top: 25px;
}


.ps-footer {
    padding-top: 70px;
}

.ps-footer__widgets {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-bottom: 35px;
}
.ps-footer__copyright{
    padding: 15px;
}
.ps-footer__copyright p{
    margin: 0px;
}
/*back to top*/
#back2top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
    z-index: 10000;
    border: none;
    border: 1px solid #ddd;
    transition: all .4s ease;
    box-shado: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
}

#back2top i {
    z-index: 10001;
    font-size: 14px;
    margin-bottom: -2px;
    color: #000;
}

/*mobile*/
.form-group--nest {
    display: flex;
    flex-flow: row nowrap;
}

.form-group--nest .ps-btn {
    border-radius: 4px 0 0 4px;
    padding-left: 25px;
    padding-right: 25px;
}

.form-group--nest input {
    border-radius: 0 4px 4px 0;
    border-color: #ccc;
    border-left: none;
}


.ps-panel--sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    overflow-y: auto;
    z-index: 10001;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}

.ps-panel--sidebar .ps-panel__header {
    position: relative;
    text-align: center;
    padding: 15px 20px;
    background-color: #6ab9b7;
}

.ps-panel--sidebar .ps-panel__header h3 {
    margin-bottom: 0;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.ps-panel--sidebar .ps-panel__content {
    padding-top: 10px;
    padding-bottom: 70px;
}

.sub-toggle {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transform-style: preserve-3d;
    display: none;
}

.sub-toggle:before, .sub-toggle:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    width: 12px;
    height: 1px;
    background-color: #000;
}

.sub-toggle:before {
    transform: translateX(-50%);
}

.sub-toggle:after {
    transform: translateX(-50%) rotate(90deg);
}

/*header*/
.form-group--icon {
    position: relative;
}

.ps-block--user-header {
    display: flex;
    flex-flow: row nowrap;
    text-align: right;
}

.ps-block--user-header .ps-block__left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.ps-block--user-header .ps-block__left i {
    font-size: 30px;
    line-height: 1em;
}

.ps-block--user-header .ps-block__right {
    padding-right: 10px;
}

.ps-block--user-header .ps-block__right a {
    display: block;
    font-weight: 700;
    line-height: 18px;
}

.header .header__extra {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 42px;
    transition: all .4s ease;
}

.header .header__extra > i {
    font-size: 30px;
    line-height: 42px;
}

.header .header__extra span {
    position: absolute;
    bottom: 0;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    vertical-align: top;
    width: 20px;
    height: 20px;
    color: #ffffff;
    background-color: #6ab9b7;
    border-radius: 50%;
}

.header .header__extra span i {
    font-size: 12px;
    font-style: normal;
    line-height: 1em;
    font-weight: 500;
}

.header .header__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .header__actions > * {
    margin: 0 20px;
}

.header .header__left {
    max-width: 300px;
    display: flex;
    align-items: center;
}

.header .header__left .menu--product-categories {
    display: none;
}

.header .header__right {
    max-width: 370px;
}

.header .header__top {
    padding: 25px 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header .header__top .ps-container, .header .header__top .container {
    display: flex;
    flex-flow: row nowrap;
}

.header .header__top .ps-container > *, .header .header__top .container > * {
    width: 100%;
}

.header--mobile {
    position: relative;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 9999;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
    transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.ps-dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    min-width: 120px;
    max-width: 200px;
    width: 100%;
    padding: 4px 0;
    background-color: #fff;
    -ms-box-shadow: 0 1px 1px 2px rgba(204, 204, 204, 0.2);
    box-shadow: 0 1px 1px 2px rgba(204, 204, 204, 0.2);
    visibility: hidden;
    opacity: 0;
    text-align: right;
}

.ps-dropdown ul li {
    list-style-type: none;
    padding: 0;
    border-right: 1px solid #000000;
    border-radius: 7px;
    margin: 2px;
    color: black;
    background-color: #6ab9b7;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}

.ps-dropdown-menu li:hover {
    border-right: 1px solid #6ab9b7;
    background-color: #b4cbcb;
}

.ps-dropdown ul li a {
    display: block;
    font-size: 1.3rem;
    color: #000;
    padding: 6px 10px;
}

.ps-dropdown:hover ul {
    visibility: visible;
    opacity: 1;
    padding: 10px;
    border-radius: 7px;
}

/*site features*/

#homepage-1 .ps-site-features {
    padding-bottom: 90px;
}

.ps-block--site-features {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 10px #dddddd;
    margin-top: 50px;
    border-radius: 10px;
    background: #fff;
}

.ps-block--site-features .ps-block__left i {
    font-size: 40px;
    color: #6ab9b7;
}

.ps-block--site-features .ps-block__right {
    padding-right: 25px;
}

.ps-block--site-features .ps-block__right h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    color: #000;
    text-align: right;
}

.ps-block--site-features .ps-block__right p {
    margin-bottom: 0;
    color: #666;
}

.ps-block--site-features .ps-block__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px 40px;
    border-left: 1px solid #dadada;
    max-width: 20%;
    width: 100%;
}

.ps-block--site-features .ps-block__item:first-child {
    padding-right: 0;
}

.ps-block--site-features .ps-block__item:last-child {
    border-left: none;
    padding-left: 0;
}

/*search result*/

.ps-panel--search-result {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding: 10px 20px;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    transform: scale3d(1, 1, 0);
}

.ps-panel--search-result .ps-panel__content {
    max-height: 400px;
    overflow-y: auto;
}

.ps-panel--search-result .ps-panel__footer {
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #eaeaea;
}

.ps-panel--search-result.active {
    transform: scale3d(1, 1, 1);
    opacity: 1;
    visibility: visible;
}

.ps-panel--search-result .ps-product {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}

.ps-panel--search-result .ps-product:hover {
    border-bottom: 1px solid #eaeaea;
}

.ps-panel--search-result .ps-product:last-child {
    border: none;
}

/*carousel*/

.owl-carousel {
    position: relative;
}

.owl-carousel .ps-product {
    margin: 10px;
}

.ps-carousel--nav {
    position: relative;
    z-index: 10;
}

.ps-carousel--nav .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: Calc(100% + 70px);
    height: 0;
}

.ps-carousel--nav .owl-nav > * {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 40px;
    height: 40px;
    color: #cccccc;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.4s ease;
    transform: translateY(-50%);
}

.ps-carousel--nav .owl-nav > * i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    font-size: 30px;
}

.ps-carousel--nav .owl-nav .owl-prev {
    margin-left: -70px;
}

.ps-carousel--nav .owl-nav .owl-prev i {
    padding-right: 2px;
}

.ps-carousel--nav .owl-nav .owl-next {
    float: left;
    margin-right: -70px;
}

.ps-carousel--nav .owl-nav .owl-next i {
    padding-left: 2px;
}

.ps-carousel--nav .owl-dots {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: none !important;
    text-align: center;
}

.ps-carousel--nav-inside {
    overflow: hidden;
}

.ps-carousel--nav-inside .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: space-between;
}

.ps-carousel--nav-inside .owl-nav > * {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
}

.ps-carousel--nav-inside .owl-nav > * > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.ps-carousel--nav-inside .owl-nav .owl-prev {
    background: #6262628a !important;
    border-radius: 50%;
    box-shadow: 0 0 5px #808080;
    transition: all .25s ease;
}

.ps-carousel--nav-inside .owl-nav .owl-next {
    background: #6262628a !important;
    border-radius: 50%;
    box-shadow: 0 0 5px #808080;
    transition: all .25s ease;
}

.ps-carousel--nav-inside .owl-nav .owl-next i {
    padding-left: 2px;
}

.ps-carousel--nav-inside .owl-dots {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 100%;
    text-align: center;
    display: none;
    visibility: hidden;
    opacity: 0;
}

/*product*/

.ps-product {
    position: relative;
    padding: 10px;
    background: #ffffff;
    box-shadow: #dddddd 0px 0px 7px 0px;
    transition: all .4s ease;
    border-radius: 10px;
    min-height: 300px;
}

.ps-product:hover .ps-product__thumbnail .ps-product__actions {
    transform: translate(-50%, 0);
    background: #f9f9f9;
    box-shadow: #adadad 0 0 10px 1px;
}

.ps-product:hover.ps-product--inner .ps-product__content {
    display: block;
    visibility: visible;
    opacity: 1;
}

.ps-product .ps-product__actions li a:hover {
    background-color: #6ab9b7;
    color: #ffffff;
    cursor: pointer;
}

.ps-product .ps-product__price {
    position: relative;
    font-size: 15px;
    color: #000;
}

.ps-product .ps-product__price.sale {
    color: #1b5614;
}


.ps-product .ps-product__actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 200px;
    padding: 10px 0;
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}

.ps-product .ps-product__actions li {
    margin-right: 6px;
    margin-left: 6px;
}

.ps-product .ps-product__actions li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.ps-product .ps-product__actions:last-child {
    margin-right: 0;
}

.ps-product .ps-product__badge {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #f1470566;
}

.ps-product .ps-product__badge.out-stock {
}

.ps-product .ps-product__title {
    margin: 0;
    display: block;
    font-size: 12px;
    line-height: 1.25em;
    color: #464646;
    --max-lines: 2;
    padding-right: 1rem;
}


.ps-product .ps-product__thumbnail {
    position: relative;
    overflow: hidden;
}

.ps-product .ps-product__thumbnail img {
    width: 100%;
    object-fit: cover;
}

.ps-product .ps-product__thumbnail .ps-product__actions {
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 8px 8px 0 0;
    transform: translate(-50%, 100%);
}

.ps-product .ps-product__content > p {
    color: #000;
}

.ps-product .ps-product__container {
    padding-top: 10px;
}

.ps-product--cart-mobile {
    display: flex;
    flex-flow: row nowrap;
}

.ps-product--cart-mobile > * {
    width: 100%;
}

.ps-product--cart-mobile .ps-product__thumbnail {
    max-width: 56px;
}

.ps-product--cart-mobile .ps-product__content {
    position: relative;
    padding-right: 8px;
    padding-left: 40px;
}

.ps-product--cart-mobile .ps-product__content .ps-product__remove {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 18px;
    color: #666;
}

.ps-product--cart-mobile .ps-product__content a {
    color: #06c;
}

.ps-product--cart-mobile .ps-product__content p strong {
    color: #000;
    font-weight: 500;
}

.ps-product--cart-mobile .ps-product__content small {
    font-size: 14px;
    color: #000;
}

/*banner*/

.banner-box {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
}


.bg--cover {
    background-position: 50% 50% !important;
    background-size: cover !important;
}

.ps-banner {
    position: relative;
}


#homepage-1 .ps-home-banner {
    margin-bottom: 30px;
}

#homepage-1 .ps-home-banner .ps-banner {
}

#homepage-1 .ps-home-banner .owl-slider {
    max-width: 100%;
    height: 100%;
}

#homepage-1 .ps-home-banner .owl-slider .owl-stage-outer {
    height: 100%;
}

#homepage-1 .ps-home-banner .owl-slider .owl-stage-outer .owl-stage {
    height: 100%;
}

#homepage-1 .ps-home-banner .owl-slider .owl-stage-outer .owl-stage .owl-item {
    height: 100%;
}

#homepage-1 .ps-home-banner .owl-slider .ps-banner {
    height: 100%;
    border-radius: 10px;
}

#homepage-1 .ps-home-banner .ps-section__left {
    margin-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: calc(100% - 390px);
}

#homepage-1 .ps-home-banner .ps-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#homepage-1 .ps-home-banner .ps-container > * {
    width: 100%;
}

/*loader*/

.hiddenx {
    visibility: hidden;
    transition: all 1s 0s ease-out;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    overflow: hidden;
}

#loader-wrapper .loader-sectionr {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    right: 0;
    background: #ffffff;
    z-index: 999;
}

#loader-wrapper .loader-sectionl {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    left: 0;
    background: #ffffff;
    z-index: 999;
}

#loader-wrapper img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-left: -50px;
    margin-top: -50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    z-index: 999999999;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


#loader-wrapper .loader-sectionl.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    visibility: hidden;
}

#loader-wrapper .loader-sectionr.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    visibility: hidden;
}

#loader-wrapper .section-top {
    visibility: hidden;
}

/*card*/
.ps-cart--mini {
    position: relative;
}

.ps-cart--mini .ps-cart__content {
    position: relative;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
}

.ps-cart--mini .ps-cart__content {
    position: absolute;
    min-width: 370px;
    left: -30px;
    z-index: 30;
    padding-top: 5px;
    transform: translate(0 20px);
    transition: all .4s ease;
    visibility: hidden;
    opacity: 0;
}

.ps-cart--mobile .ps-cart__content {
    padding: 20px 10px 0;
    min-height: calc(100vh - 250px);
}

.ps-cart--mobile .ps-cart__footer {
    padding: 30px 20px;
    border-top: 1px solid #e1e1e1;
}

.ps-cart--mobile .ps-cart__footer h3 {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.ps-cart--mobile .ps-cart__footer h3 strong {
    float: left;
    color: red;
}

.ps-cart--mobile figure {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.ps-cart--mobile figure .ps-btn {
    padding: 12px 25px;
}

/*news letter*/
.ps-form--newsletter h3 {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 24px;
}

.ps-form--newsletter p {
    margin-bottom: 0;
}

.ps-form--newsletter .form-group--nest button {
    padding-left: 45px;
    padding-right: 45px;
}

.ps-newsletter {
    padding: 65px 0;
}

/*quick search*/
.ps-form--quick-search {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.ps-form--quick-search .form-control {
    background-color: #fff;
    color: #000;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.ps-form--quick-search .form-group--icon {
    background-color: #ffffff;
    border-radius: 0 4px 4px 0;
    display: none;
}


.ps-form--search-mobile input {
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-left: 0;
    border-radius: 0 8px 8px 0;
}

.ps-form--search-mobile button {
    width: 40px;
    height: 40px;
    background-color: #3a8887;
    border-radius: 8px 0 0 8px;
    border: 0;
}

.ps-form--search-mobile button i {
    color: #ffffff;
}

/*product list*/
#homepage-1 .ps-product-list {
    padding: 20px 0;
    margin-top: 30px;
}

.ps-product-list .ps-section__links {
    display: inline-block;
}

.ps-product-list .ps-section__links li {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.ps-product-list .ps-section__links li a {
    color: #666;
}

.ps-product-list .ps-section__links li:last-child {
    margin-right: 0;
}

.ps-product-list .ps-section__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 20px;
    margin-top: 25px;
    border-bottom: 1px solid #e3e3e3;
}

.ps-product-list .ps-section__header h3 {
    margin-bottom: 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
}

.ps-product-list .ps-section__content {
    padding-top: 5px;
}

/*menu*/

.ps-cart--mini {
    position: relative;
}

.ps-cart--mini .ps-cart__content {
    position: absolute;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
}

.ps-cart--mini .ps-cart__content:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 30px;
    width: 16px;
    height: 16px;
    border-left: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    background-color: #ffffff;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
}

.ps-cart--mini .ps-cart__items .ps-product--cart-mobile {
    margin: 4px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.ps-cart--mini .ps-cart__footer {
    background-color: #ffffff;
    border: 1px solid #919191;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.ps-cart--mini .ps-cart__footer h3 {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 7px 20px;
    border: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
    padding: 7px 20px;
}

.ps-cart--mini .ps-cart__footer h3 strong {
    float: left;
    color: #ff8456;
}

.ps-cart--mini figure {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
}

.ps-cart--mini figure .ps-btn {
    padding: 12px 25px;
}

.ps-cart--mini:hover .ps-cart__content {
    transform: translate(20px, 0px);
    visibility: visible;
    opacity: 1;
}

.mega-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0px;
    transition: all 0.4s ease;
}

.mega-menu > * {
    width: 100%;
    padding: 0;
}

.mega-menu .mega-menu__column {
}

.mega-menu .mega-menu__list {
    background-color: transparent;
}

.mega-menu .mega-menu__list li a {
    display: block;
    color: #666;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
}


.menu {
    text-align: right;
}

.menu > li {
    display: inline-block;
}

.menu > li:first-child {
    padding-right: 0;
}

.menu > li:last-child {
    margin-right: 0;
    padding-right: 0;
}


.menu > li .mega-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
}

.menu--product-categories {
    position: relative;
    height: 100%;
}

.menu--product-categories .menu__toggle {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    padding: 16px 0px;
    align-items: center;
}

.menu--product-categories .menu__toggle span {
    font-size: 20px;
    color: #686868;
    font-size: 13px;
    font-weight: 500;
    margin-right: 40px;
}

.menu--product-categories .menu__toggle:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    display: none;
    background-color: #000;
    transition: transform 0.75s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: 100% 50%;
}

.menu--product-categories .menu__toggle:hover:before, .menu--product-categories .menu__toggle.active:before {
    transform-origin: 0 50%;
    transform: scale3d(1, 1, 1);
}


.menu--product-categories .menu__content {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    z-index: 1000;
    min-width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    transform: scale3d(1, 1, 0) translateY(30px);
}

.menu--product-categories .menu--dropdown {
    background-color: #fff;
    border-radius: 5px;
    min-width: 200px;
    text-align: right;
    box-shadow: 0px 0px 20px #ddd;
}

.menu--product-categories .menu--dropdown > .has-mega-menu {
    position: relative;
}

.menu--product-categories:hover .menu__content {
    visibility: visible;
    opacity: 1;
    transform: scale3d(1, 1, 1) translateY(0);
}

.menu--dropdown > li > a:hover {
    color: #ff00b1;
}

.menu--dropdown > li {
    padding: 0 10px;
    transition: all .4s ease;
}

.menu--dropdown > li > a {
    display: block;
    padding: 10px 0;
    color: #3d3d3d;
    width: 100%;
}

.menu--dropdown > li > a i {
    margin-left: 10px;
    font-size: 18px;
}

.menu--dropdown > li.has-mega-menu .mega-menu {
    position: absolute;
    top: 10px;
    right: 60%;
    width: auto;
    border-radius: 5px;
    min-width: 230px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 20px #ddd;
    z-index: 2;
}

.menu--mobile .sub-menu {
    position: relative;
    display: none;
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    transition: all 0s ease;
    border: none;
}


.menu--mobile .mega-menu {
    display: none;
    flex-flow: row wrap;
    max-width: 100%;
    padding-left: 15px;
    transition: all 0s ease;
}

.menu--mobile > li {
    border-bottom: 1px solid #dedede;
}

.menu--mobile > li > a {
    position: relative;
    z-index: 10;
    display: block;
    padding: 15px 20px;
    line-height: 20px;
    font-size: 15px;
}

.menu--mobile > li.menu-item-has-children {
    position: relative;
}

.menu > li.menu-item-has-children > a:before {
    content: '';
    width: 13px;
    height: 13px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 50%;
    z-index: 10000;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: 0 0;
    visibility: hidden;
    opacity: 0;
}

.subsub-menu .sub-mega-menu {
    position: absolute;
    top: 10px;
    right: 60%;
    width: auto;
    border-radius: 5px;
    min-width: 230px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 20px #ddd;
    background: #fff;
    z-index: 3;
}

.mega-menu__list > li:hover.subsub-menu .sub-mega-menu {
    visibility: visible;
    opacity: 1;
}

.hasan .sub-mega-menu > li:hover {
    color: #ff00b1;
}

.menu--dropdown > li:hover {
    color: #ff00b1;
}

.menu--mobile .mega-menu .mega-menu__list li a:hover {
    color: #000;
}

.menu--dropdown > li:hover.has-mega-menu .mega-menu {
    visibility: visible;
    opacity: 1;
}

.mega-menu .mega-menu__list li a:hover {
    color: #ff01b1;
}

.menu--mobile > li.menu-item-has-children .sub-toggle {
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 20;
    display: inline-block;
}

.menu--mobile .mega-menu {
    border: none;
}

.navigation {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.navigation > .ps-container, .navigation > .container {
    display: flex;
    flex-flow: row nowrap;
}

.navigation > .ps-container > *, .navigation > .container > * {
    width: 100%;
}

.navigation__extra > li {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    padding-left: 20px;
}

.navigation__extra > li:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 2px;
    height: 15px;
    background-color: #000;
}

.navigation__extra > li a {
    color: #000000;
}

.navigation__extra > li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.navigation__extra > li:last-child:after {
    display: none;
}

.navigation .navigation__right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
}

.navigation--list {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 10002;
    padding: 10px 30px;
    border-top: 1px solid #ccc;
    background-color: #ffffff;
}

/*quick view*/
.modal-dialog.modal-dialog-centered {
    max-width: max-content;
}

.ps-product__header {
    display: flex;
}

span.modal-close {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.modal-content {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
}

.ps-product__info {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 630px;
}

.ps-product__shopping {
    display: flex;
    justify-content: space-around;
}

.ps-list--dot {
    max-width: 530px;
}

.quick-view-image {
    width: 404px;
    height: 404px
}
.modal_product__thumbnail {
    max-width: 404px;
}
/*chat*/
#chat {
    bottom: 40px;
    right: 30px;
    border: 1px solid #f9f9f9;
    position: fixed;
    color: #fff;
    background: #c331be;
    text-align: center;
    box-shadow: 0 0 20px 0px #b1b1b1;
    border-radius: 50%;
    display: flex;
    height: 80px;
    width: 80px;
    font-size: 40px;
    align-items: center;
    z-index: 99;
    justify-content: center;
}
#chat:hover {

    bottom: 30px;
    right: 20px;
    height: 100px;
    width: 100px;
    transition: all .3s ease;
}
#chatBox {
    position: fixed;
    right: 70px;
    bottom: 80px;
    width: 300px;
    z-index: 99;
}
.card-header {
    background: #c331be;
    border-radius: 5px 5px 0 0 !important;
    text-align: end;
}
#btn_close_chat {
    margin-top: 3px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}
.direct-chat .card-body {
    overflow-x: hidden;
    padding: 0;
    position: relative;
}
.direct-chat-messages {
    height: 330px;
    overflow: auto;
    padding: 10px;
}
.direct-chat-msg {
    margin-bottom: 10px;
}
.direct-chat-infos {
    display: block;
    font-size: .875rem;
    margin: 2px;
    clear: both;
}
.direct-chat-img {
    border-radius: 50%;
    float: left;
    height: 40px;
    width: 40px;
}
.direct-chat-text {
    border-radius: 0.3rem;
    background-color: #d2d6de;
    border: 1px solid #d2d6de;
    color: #444;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
}

.direct-chat-text::after, .direct-chat-text::before {
    border: solid transparent;
    border-right-color: #d2d6de;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}
.direct-chat-name {
    font-weight: 600;
}

.right .direct-chat-img {
    float: right;
}
.right .direct-chat-text {
    margin-left: 0;
    margin-right: 40px;
    background: #cedefd;
}
.direct-chat-msg .icon-user {
    font-size: 33px;
}
.right .direct-chat-text::after, .right .direct-chat-text::before {
    border-left-color: #cedefd;
    border-right-color: transparent;
    left: 100%;
    right: auto;
}
.direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}

button.btn.btn-warning {
    background: #c331be;
    color: #fff;
    border-radius: 5px 0px 0px 5px !important;
    border: 0px;
}

input.form-control {
    border-radius: 0 5px 5px 0 !important;
    height: 35px;
    background: #fff;
}
.hidden{
    visibility: hidden;
    transition: all .3s ease;
    transform:  translate(150px,170px) scale(0,0);
}
.sample_box {
    display: none;
}
